.byteCode > ol         {width:40em;margin:0 auto;display:block; min-height: 20px;
			   padding: 0px 0 0 0px;}
.byteCode li                  {list-style:none;}

.byteCode > ol > li 
               {width:3em;height:1em;float:left;margin:.2em; padding:.2em;overflow:auto;}

.byteCode > ol {width:auto;}


